
<%= form_with(model: transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Transaction Name", { class: "form-label"} %>
    <%= f.text_field :name, { class: "form-control", placeholder: "Food", required: true } %>
  </div>

  <div class="mb-3">
    <%= f.label :transaction_date, "Transaction Date", { class: "form-label"} %>
    <%= f.date_field :transaction_date, { class: "form-control", required: true } %>
  </div>

  <div class="mb-3">
    <div class="row" x-data="currencyData()" x-init="
    inputPrice = <%= transaction.present? && transaction.price.present? ? transaction.price : 0.00 %>;
    convertedPrice = <%= transaction.present? && transaction.price.present? ? transaction.price : 0.00 %>;">
      <div class="col-md-6">
        <%= f.label :price, "Price", { class: "form-label"} %>
        <div class="input-group">
          <div class="input-group-text">$</div>
          <input type="number" class="form-control" placeholder="19.84" step=".01" x-model="inputPrice" @change.debounce="changeCurrency" required>
          <select class="form-select" x-model="currency" @change.debounce="changeCurrency">
            <option value="CAD" selected>CAD</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="AUD">AUD</option>
            <option value="AUD">JPY</option>
            <option value="AUD">NOK</option>
            <option value="AUD">GBP</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.label :price, "CAD Price", { class: "form-label"} %>
        <div class="input-group">
          <div class="input-group-text">$</div>
          <input type="number" name="transaction[price]" class="form-control" placeholder="19.84" step=".01" x-model="convertedPrice" required>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :category_id, "Category Name", { class: "form-label"} %>
    <%= f.select :category_id, @user.categories.pluck(:name, :id), {}, { class: "form-select"} %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    currencyData = () => {
        return {
            inputPrice: 0.00,
            currency: 'CAD',
            convertedPrice: 0.00,

            changeCurrency: async function() {
                if (this.currency === 'CAD') {
                    this.convertedPrice = this.inputPrice.toFixed(2);
                } else {
                    await fetch(`https://freecurrencyapi.net/api/v2/latest?apikey=e65d3140-6968-11ec-9481-f9819ded001b&base_currency=${this.currency}`)
                        .then(response => response.json())
                        .then(data => {
                            this.convertedPrice = (data.data['CAD'] * this.inputPrice).toFixed(2);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            },
        }
    }
</script>