<div class="row">
  <% %w[January February March April May June July August September October November December].each do |month| %>
    <div class="col-md-3 mb-3">
        <div class="card scroll">
            <div class="card-header">
              <h5><%= month %> <%= @year %></h5>
              <button type="button" class="w-auto btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-<%= month %>">See Transactions</button>
            </div>
            <div class="card-body ">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @categories.each do |category| %>
                    <tr>
                        <td><%= category.name %></td>
                        <td><%= number_to_currency(sum_of_category_for_month(category, month, @year)) %></td>
                    </tr>
                    <% end %>
                    <tr>
                        <td class="table-active">Total Expenses:</td>
                        <td class="table-active">-<%= number_to_currency(total_sum_for_month(month, @year, false)) %></td>
                    </tr>
                    <tr>
                      <td class="table-active">Total Income:</td>
                      <td class="table-active">+<%= number_to_currency(total_sum_for_month(month, @year, true)) %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-<%= month %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= month %> <%= @year %> Transactions</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% transactions = month_transactions(month, @year) %>
            <% if transactions.count > 0 %>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <% transactions.each_with_index do |transaction, index| %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td><%= transaction.name %></td>
                    <td><%= number_to_currency(transaction.price) %></td>
                    <td><%= transaction.transaction_date %></td>
                    <td><%= link_to 'Edit', edit_transaction_path(transaction), class: "btn btn-secondary" %></td>
                    <td><%= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                  <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                  There is no transactions yet. You can create one <%= link_to 'here', new_transaction_path %>.
                </div>
              </div>
            <% end %>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="col-md-3 mb-3">
        <div class="card scroll">
            <h5 class="card-header">Full Year <%= @year %></h5>
            <div class="card-body ">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @categories.each do |category| %>
                    <tr>
                        <td><%= category.name %></td>
                        <td><%= number_to_currency(sum_of_category_for_year(category, @year)) %></td>
                    </tr>
                    <% end %>
                    <tr>
                        <td class="table-active">Total Expenses:</td>
                        <td class="table-active">-<%= number_to_currency(total_sum_for_year(@year, false)) %></td>
                    </tr>
                    <tr>
                      <td class="table-active">Total Income:</td>
                      <td class="table-active">+<%= number_to_currency(total_sum_for_year(@year, true)) %></td>
                    </tr>
                    <tr>
                      <td class="table-active">Total:</td>
                      <td class="table-active"><%= number_to_currency(total_sum_for_year(@year, true) - total_sum_for_year(@year, false)) %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>